<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="myApp">
	<head>
		<meta charset="utf-8" />
		<script src="./js/angular.js"></script>
		<script src="./js/controllers/numpadCtrl.js"></script>
		<link type="text/css" rel="stylesheet" href="./css/calculator.css" />
	</head>

	<body>
		<div class="wrapper" ng-controller="numpadController">
			<div>
				<input type="text" class="display" ng-model="operationResult"/>
			</div>
			<div >
				<div  class="digits_wrapper">
				    <button ng-repeat="digit in digits" class="digit_btn" ng-click="digitClick(digit)">{{digit}}</button>
				    <button class="result_btn" ng-click="getResult()">=</button>
				</div>    
				<div class="operations_wrapper">
					<button class="operation_btn" ng-click="operationClick('+')">+</button><br />
					<button class="operation_btn" ng-click="operationClick('-')">-</button><br />
					<button class="operation_btn" ng-click="operationClick('/')">/</button><br />
					<button class="operation_btn" ng-click="operationClick('*')">*</button><br />
				</div>
				<br clear="all" />
				<button class="clear_btn" >C</button>
			</div>
		</div>
		<br clear="all" /><br clear="all" /><br clear="all" /><br clear="all" />
		<input type="text" ng-model="yourName" />
		<h1>Привет {{yourName}}!</h1>
	</body>
</html>